{{ partial "site_header.html" . }}
{{ partial "page_header.html" . }}

  <main class="content">
   <article class="micropost">
     {{ .Content }}
     <a href='{{ .Permalink }}'><aside class="dates">→ {{ .Date.Format "2006/01/02 3:04 PM" }}</aside></a> by {{ .Params.author.display }} <a href='https://github.com/{{ .Params.author.github }}'><i class="fa-brands fa-github"></i></a> <a href='https://twitter.com/{{ .Params.author.twitter }}'><i class="fa-brands fa-twitter"></i></a>
   </article>
  </main>

{{ partial "page_footer.html" . }}
{{ partial "site_footer.html" . }}
